{% extends "base.html" %}

{% block content %}

    <button id='linkButton'>Input Bank Information</button>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Django REQUIRES returning a csrf key with an ajax post request. csrfSafeMethod() generates the token.
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var csrftoken = getCookie('csrftoken');
        var linkHandler = Plaid.create({
            {#'development' tests with live users, 'production' when it's time to go live#}
            env: 'sandbox',
            clientName: 'CBS Renmo Test',
            key: 'cc5eca9a7b42c6fd2dee4ebad4e959',
            product: ['auth'],
            selectAccount: true,
            onSuccess: function (public_token, metadata) {
                // Send the public_token and account ID to your app server.
                // public_token is the Plaid reference to the overall account. It can link to balances, transactions, account name, wire numbers, etc.
                console.log('bank info: ' + public_token);
                // account_id is ONLY the account that the user chose which will be used to charge/withdraw with Stripe.
                console.log('account_ID: ' + metadata.account_id);

                //Sends the csrf token as requried by django.
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                // Sends public_token and account_id to management.html
                $.ajax({
                    url: "management.html",
                    type: "POST",
                    data: {'user': 'admin', 'token': public_token, 'id': metadata.account_id},
                    success: function () {
                        console.log('success');
                        window.location.href = 'myaccount.html';
                    },
                    error: function (xhr) {
                        alert('Error in processing request');
                    }
                });
                event.preventDefault();
            },
            onExit: function (err, metadata) {
                // The user exited the Link flow.
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
            },
        });

        // Trigger the Link UI
        document.getElementById('linkButton').onclick = function () {
            linkHandler.open();
        };
    </script>

{% endblock %}