{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Renmo: Renminbi Exchange Made Easy</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='{% static 'main.css' %}'>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "home" %}">Renmo | Renminbi Exchange Made Easy</a>
        </div>

        <!--- Signup/ Login--->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url "loginFunction" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

        <!---- Login Form
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
      ---->

    </div>
</nav>

<div class="jumbotroncover">
    <div class="container text-center">
        <p class="h1">Looking to buy or sell Renminbi?</p>
        <hr>
        <p class="lead">
            Renmo is an online platform for P2P exchange of Chinese Renminbi (CNY)
            and US Dollars (USD), <br>uniquely developed by and catered to Columbia Business School
            students.<br><br>
            If you are travelling to or from China and looking for hassle-free USD to CNY exchange, <br>
            Renmo is a perfect solution for you!
        </p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="{% url "list" %}" role="button">Get Started</a><br>
            <a class="btn btn-lg" href="{% url "loginFunction" %}">Already had an account?</a></p>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="footer-text "> © 2018 Columbia Business School #Team3. All Rights Reserved.</p>
    </div>
</nav>

</body>
</html>
